body {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 30px "Century Gothic", Futura, sans-serif;
  margin-top: 200px;
}

ol,
ul {
  padding-left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: block;
}

.game-info {
  margin: 10px;
  margin-top: 20px;
}

.btn {
  font: 20px "Century Gothic", Futura, sans-serif;
    color: white;
    background-color: blue;
    box-shadow: 0 4px 10px rgba(16, 156, 241, 0.24);
}

